# deps
node_modules/

# Next.js
.next/
out/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.db

# env
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
.vercel
